  <body class="is-booting">
<!-- @include partials/base.html -->

<!-- @include partials/persistence.html -->
<!-- @include partials/app-help.html -->

<!-- @include partials/setup.html -->

<!-- @include partials/presentation.html -->

<!-- @include partials/combat.html -->

<!-- @include partials/game-over.html -->
<!-- @include partials/presentation-close.html -->

<!-- @include partials/combat-teach-dock.html -->

<!-- @include partials/app-footer.html -->

    <script type="module" src="js/game.js"></script>
  </body>
</html>
